{{- define "main" -}}

<article class="article article-project" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}
    {{ partial "page_author.html" . }}

    {{ partial "comments" . }}

    {{ $page := . }}
    {{ $tool := .File.ContentBaseName }}

    {{ $items := where (where site.RegularPages "Type" "app") ".Params.tools" "intersect" (slice $tool) }}
    {{ $apps_len := len $items }}
    {{ if ge $apps_len 1 }}
      <h2>{{ (i18n "apps") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.app_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.app_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $items := where (where site.RegularPages "Type" "code") ".Params.tools" "intersect" (slice $tool) }}
    {{ $code_len := len $items }}
    {{ if ge $code_len 1 }}
      <h2>{{ (i18n "codes") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.code_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.code_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $items := where (where site.RegularPages "Type" "post") ".Params.tools" "intersect" (slice $tool) }}
    {{ $count := len $items }}
    {{ if ge $count 1 }}
      <h2>{{ (i18n "posts") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.post_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.post_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $items := where (where site.RegularPages "Type" "project") ".Params.tools" "intersect" (slice $tool) }}
    {{ $project_len := len $items }}
    {{ if ge $project_len 1 }}
      <h2>{{ (i18n "projects") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.project_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.project_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $items := where (where site.RegularPages "Type" "publication") ".Params.tools" "intersect" (slice $tool) }}
    {{ $pubs_len := len $items }}
    {{ if ge $pubs_len 1 }}
      <h2>{{ (i18n "publications") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.publication_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.publication_view 3 }}
          {{ partial "li_card" . }}
        {{ else if eq site.Params.tools.publication_view 4 }}
          {{ partial "li_citation" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $items := where (where site.RegularPages "Type" "talk") ".Params.tools" "intersect" (slice $tool) }}
    {{ $talks_len := len $items }}
    {{ if ge $talks_len 1 }}
      <h2>{{ (i18n "talks") }}</h2>
      {{ range $items }}
        {{ if eq site.Params.tools.talk_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.tools.talk_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    {{ end }}

  </div>
</article>

{{ if site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{- end -}}